body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1a1a1a;
    position: sticky;
    top: 0;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #5ee4ff;
}

nav a {
    margin-left: 20px;
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #5ee4ff;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(180deg, #1a1a1a, #0d0d0d);
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #5ee4ff;
}

.block {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-size: 36px;
    border-left: 4px solid #5ee4ff;
    padding-left: 15px;
    margin-bottom: 30px;
}

.news-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.news-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    min-width: 250px;
    border-left: 4px solid #5ee4ff;
}

.news-card .date {
    color: #999;
}

.doc-list li {
    padding: 10px 0;
}

.doc-list a {
    color: #5ee4ff;
    text-decoration: none;
    transition: 0.3s;
}

.doc-list a:hover {
    color: white;
}

.upload-box {
    border: 2px dashed #444;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.upload-box img {
    max-width: 300px;
    margin-top: 20px;
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    margin-top: 60px;
}
.map-box {
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    border: 2px solid #333;
    border-radius: 10px;
}

.map-box img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px #000;
}
